anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
bcrypt
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
executing
fastjsonschema
Flask
Flask-Bcrypt
Flask-MySQL
Flask-SQLAlchemy
fqdn
greenlet
idna
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
overrides
packaging
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
psycopg
psycopg2
pure-eval
pycparser
Pygments
PyMySQL
python-dateutil
python-dotenv
python-json-logger
pywin32==224
PythonTurtle

pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
stack-data
terminado
timeago
tinycss2
tornado
traitlets
ttkthemes
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
gunicorn
